.navbar { 
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $neutral-color;
    box-shadow: 0px 1px 10px 1px $primary_color;

    &__logo {
        margin-left: 5%;
        margin-top: -5px;
        height: 100px;
        border-radius: 5px;
        background: $neutral-color;
        &:hover {
            filter:brightness(1.3);
        }
        & img {
            height: 100%;
        }
    }

    &__tel {
        margin-right: 5%;
    }

    & ul {
        top: 0;
        left: 50%;
        display: flex;
        list-style-type: none;
        & li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            border-radius: 20px;
            width: 150px;
            height: 100px;
            &:hover {
                background: $primary_color;
                color: $neutral-color;
            }

        }

    }
}