#accueil {
    position: relative;
    width: 100%;
    height: 80vh;
    padding-bottom: 100px;
    padding-top: 50px;
    background: rgb(184, 174, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & .accueil__center {
        z-index: 2;
        position: absolute;
        height: 60vh;
    }

    & .accueil__text {
        z-index: 2;
        position: absolute;
        bottom: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $secondary_color_rgb_transparent;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        & * {
            color: $neutral-color;
        }
        & h1 {
            font-size: 76px;
        }
    }

    & .accueil__bg {
       width: 100%;
       z-index: 0;
       filter:brightness(1.5)
    }
}