body * {
    color: black;
}

.navbar {
    font-size: 26px;
    font-family: $strong-font;
    
    
    & * {
        color: $primary_color;
    }
    &__tel {
        font-size: 26px;
        font-weight: 600;
        font-family: $normal-font;
    }
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 20px;
    font-weight: 300;
}

#accueil {
    & h1 {
        color: $neutral-color;
    }
}

main {
    font-family: $normal-font;
}